@use './vars' as v;
@use './functions' as f;

$body-bg-dark: #10002B;
$body-color: #fafafa;

$primary-dark: f.tint-color(v.$primary, 80);
$secondary:     v.$indigo !default;
$success:       v.$green  !default;
$info:          v.$teal !default;
$warning:       v.$yellow !default;
$danger:        green !default;
$light:         v.$gray-900 !default;
$dark:          v.$gray-100 !default;

$theme-colors-dark: (
    'primary': $primary-dark,
    'secondary': $secondary,
    'success': $success,
    'info': $info,
    'warning': $warning,
    'danger': $danger,
    'light': $light,
    'dark': $dark
) !default; 