// Variables

// Should follow the "$component-state-property-size" formula

$prefix: ek-;

// Gray color vars
$white:    #fff !default;
$gray-100: #f8f9fa !default;
$gray-200: #e9ecef !default;
$gray-300: #dee2e6 !default;
$gray-400: #ced4da !default;
$gray-500: #adb5bd !default;
$gray-600: #6c757d !default;
$gray-700: #495057 !default;
$gray-800: #343a40 !default;
$gray-900: #212529 !default;
$black:    #000 !default;

// Color variables
$blue:    #0d6efd !default;
$indigo:  #6610f2 !default;
$purple:  #6f42c1 !default;
$pink:    #d63384 !default;
$red:     #dc3545 !default;
$orange:  #fd7e14 !default;
$yellow:  #ffc107 !default;
$green:   #198754 !default;
$teal:    #20c997 !default;
$cyan:    #0dcaf0 !default;

$colors: (
  "blue":       $blue,
  "indigo":     $indigo,
  "purple":     $purple,
  "pink":       $pink,
  "red":        $red,
  "orange":     $orange,
  "yellow":     $yellow,
  "green":      $green,
  "teal":       $teal,
  "cyan":       $cyan,
  "black":      $black,
  "white":      $white,
  "gray":       $gray-600,
  "gray-dark":  $gray-800
) !default;


// Theme colors
$primary:       $blue !default;
$secondary:     $gray-600 !default;
$success:       $green !default;
$info:          $cyan !default;
$warning:       $yellow !default;
$danger:        $red !default;
$light:         $gray-100 !default;
$dark:          $gray-900 !default;

$theme-colors: (
    'primary': $primary,
    'secondary': $secondary,
    'success': $success,
    'info': $info,
    'warning': $warning,
    'danger': $danger,
    'light': $light,
    'dark': $dark
) !default; 

$min-contrast-ration: 4.5 !default;

$clr-contrast-dark: $black !default;
$clr-contrast-light: $white !default;


// Body
$body-color:                $gray-900 !default;
$body-bg:                   $white !default;

$body-emphasis-color:       $black !default;


// Gradient
$gradient: linear-gradient(180deg, rgba($white, .15), rgba($white, 0)) !default;


// Grid
$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1400px
) !default;

$grid-columns:                12 !default;
$grid-gutter-width:           1.5rem !default;


$spacer: 1rem;

$spacers: (
    0: 0,
    1: $spacer * .25,
    2: $spacer * .5,
    3: $spacer,
    4: $spacer * 1.5,
    5: $spacer * 3,
);


// Typography
$ff-base: 'EK-Poppins', Arial, sans-serif !default;

// Font sizes
$fs-base: 1rem;
$fs-sm: $fs-base * .875 !default;
$fs-lg: $fs-base * 1.25 !default;

$font-sizes: (
    sm: $fs-sm,
    md: $fs-base * 1.1,
    lg: $fs-lg,
    xl: $fs-lg * 1.35
) !default;

$fw-light: 300 !default;
$fw-normal:400 !default;
$fw-medium: 500 !default;
$fw-semibold: 600 !default;
$fw-bold: 700 !default;

$font-weight: (
    300: $fw-light,
    400: $fw-normal,
    500: $fw-medium,
    600: $fw-semibold,
    700: $fw-bold
) !default;

$fw-base: $fw-medium !default;

$line-height-base: 1.5 !default;
$line-height-sm: 1.25 !default;
$line-height-lg: 2 !default;

// Headings

$h-mb: $spacer * .5;
$h-color: null !default;
$h-fw: $fw-semibold !default;
$h-lineheight: 1.2 !default;