@use './vars' as v;
@use './functions' as f;

$body-bg-dark: #212529;
$body-bg-primary-subtle-dark: #031633;
$body-bg-secondary-dark: v.$gray-800;
$body-color: #fafafa;

$bgs: (
    body-bg: $body-bg-dark,
    body-bg-primary-subtle: $body-bg-primary-subtle-dark,
    body-bg-secondary: $body-bg-secondary-dark
);


$primary-dark: f.tint-color(v.$primary, v.$dark-tint-val);
$secondary:     f.tint-color(v.$secondary, v.$dark-tint-val) !default;
$success:       f.tint-color(v.$green, v.$dark-tint-val)  !default;
$info:          f.tint-color(v.$green, v.$dark-tint-val) !default;
$warning:       f.tint-color(v.$yellow, v.$dark-tint-val) !default;
$danger:        f.tint-color(v.$danger, v.$dark-tint-val) !default;
$light:         f.tint-color(v.$gray-900, v.$dark-tint-val) !default;
$dark:          f.tint-color(v.$gray-100, v.$dark-tint-val) !default;

$theme-colors-dark: (
    'primary': $primary-dark,
    'secondary': $secondary,
    'success': $success,
    'info': $info,
    'warning': $warning,
    'danger': $danger,
    
) !default; 

$text-colors-dark: (
    primary-emphasis: v.$text-primary-emphasis-color,
    secondary-emphasis: v.$text-secondary-emphasis-color,
    base-1: v.$gray-100,
    base-2: v.$gray-300,
    base-3: v.$gray-600,
    base-4: v.$gray-900
    
) !default;

$theme-colors-dark-rgb: f.map-loop($theme-colors-dark, toRgb);