@use '../vars' as v;
@use '../functions' as f;

@mixin button-variant(
    $bg-name,
    $bg,
    $clr,
    $clr-dark,
    $hover-bg,
    $border: null,
) {
    --#{v.$prefix}btn-bg: var(--#{v.$prefix + $bg-name});
    // --#{v.$prefix}btn-color: #{f.pickColor($bg, $clr, $clr-dark)};
    @if ($bg-name == 'warning') {
        --#{v.$prefix}btn-color: #{$clr-dark};
    } @else {
        --#{v.$prefix}btn-color: #{$clr};
    }
   
    // background-color: $bg;
    // color: f.pickColor($bg, $clr, $clr-dark);
    border: $border;

    &:hover,
    &.active {
        // opacity: .75;
        filter: brightness(1.15);
        text-decoration: none;
    }
}

@mixin button-size($fs, $padding-inline, $padding-block) {
    --#{v.$prefix}btn-fs: #{$fs};
    --#{v.$prefix}btn-padding-inline: #{$padding-inline};
    --#{v.$prefix}btn-padding-block: #{$padding-block};
}