@use '../vars' as v;
@use '../functions' as f;

@mixin button-variant(
    $bg,
    $clr,
    $clr-dark,
    $hover-bg,
    $border: null,
) {
    background-color: $bg;
    color: f.pickColor($bg, $clr, $clr-dark);
    border: $border;

    &:hover,
    &.active {
        $hover-bg: f.pickColor($bg, f.tint-color($bg, 20), f.shade-color($bg, 20), 70);
        background-color: $hover-bg;
        text-decoration: none;
    }
}

@mixin button-size($fs, $padding-inline, $padding-block) {
    font-size: $fs;
    padding-inline: $padding-inline;
    padding-block: $padding-block;
}