@use '../vars' as v;
@use '../functions' as f;

@mixin generate-utility($utility, $infix: '-') {  
    $values: map-get($utility, values);

    @if type-of($values) == 'string' or type-of(nth($values, 1)) !='list' {
        $values: zip($values, $values);
    }

    $property: map-get($utility, property);

    $class: if(map-has-key($utility, class), map-get($utility, class), '');
    $infix: if(map-has-key($utility, class), '-', '');
    $css-var: if(map-has-key($utility, css-var), map-get($utility, class), null);
    $local-vars: map-get($utility, local-vars);
    $states: map-get($utility, state);

    @each $key, $value in $values {
        @if $css-var {

            .#{$class + $infix + $key} {
                --#{v.$prefix + $class}: #{$value};
            }
        } @else {
            .#{$class + $infix + $key} {
                @if $local-vars {
                    @each $local-var, $variable in $local-vars {
                        --#{v.$prefix + $local-var}: #{$variable};
                    }
                }
                #{$property}: $value;
            }
            @if $states {
                @each $state in $states {
                    @if $local-vars {
                        .#{$class + $infix + $key}-#{$state}:#{$state} {
                            @each $local-var, $variable in $local-vars {
                                --#{v.$prefix + $local-var}: .7;
                            }
                            // --#{v.$prefix + $local-var}: calc(--#{v.$prefix + $local-var} * .8);
                        }
                    }
                    
                }
            }
        }
    }

}