@use '../../vars' as v;

.form__control {
    appearance: none;
    -webkit-appearance: none;
    display: block;
    outline: none;
    width: 100%;

    padding-block: v.$form-control-padding-block;
    padding-inline: v.$form-control-padding-inline;

    font-size: v.$form-control-fs;
    color: v.$form-control-color;
    background-color: v.$form-control-bg;
    border: 1px solid var(--#{v.$prefix}form-control-border);
    border-radius: v.$form-control-border-radius;
    box-shadow: v.$form-control-shadow;
    transition-property: box-shadow, border-color;
    transition-duration: v.$transition-duration;
    transition-timing-function: v.$transition-easing;

    &:disabled {
        opacity: .6;
        pointer-events: none;
    }

    &:not(:disabled) {
        cursor: pointer;
    }

    &:hover {
        border-color: var(--#{v.$prefix}primary);
    }

    &:focus {
        border-color: var(--#{v.$prefix}primary);
        box-shadow: v.$form-control-focus-shadow;
    }

    &::placeholder {
        color: v.$form-control-placeholder-color;
        font-size: 1em;
    }

    &--lg {
        font-size: 1.25rem;
    }

    &--sm {
        font-size: .85rem;
    }


    &--color {
        width: v.$form-color-width;
        height: v.$form-color-height;
        padding: v.$form-color-padding;


        &::-moz-color-swatch {
            border: 0;
            border-radius: 5px;
        }

        &::-webkit-color-swatch {
            border: 0;
            border-radius: 5px;
        }
    }

    &--select {
        color: var(--#{v.$prefix}dark);
        background-size: v.$form-select-bg-size;
        background-repeat: no-repeat;
        background-position: right .75rem center;
        background-image: url(v.$form-select-bg-url);
    }
}