@use '../../vars' as v;

.form {

    &:invalid {
        button[type='submit'] {
            opacity: .5;
            pointer-events: none;
        }
    }


    &__error {
        margin-block-start: .5em;
        color: v.$form-control-invalid-color;
        display: none;
    }
    
    &__control.blurred:invalid {
        --#{v.$prefix}form-control-border: var(--#{v.$prefix}form-invalid-color);
        box-shadow: v.$form-control-invalid-shadow;
        color: v.$form-control-invalid-color;
        border-color: var(--#{v.$prefix}form-control-border);
        background-image: url(v.$form-control-invalid-icon);
        background-size: v.$form-control-invalid-icon-size;
        background-repeat: no-repeat;
        background-position: right .75rem center;

        &::placeholder {
            color: inherit;
        }
    }
    
    .blurred:invalid + .form__error,
    .form__group:has(.blurred:invalid) + .form__error {
        display: block;
    }

}